<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

					<div class="title text-center">
						<h2>Мы в социальных сетях</h2>
					</div><!-- /.title -->

					<div class="items text-center">
                        <a href="https://www.facebook.com/groups/470372799805035/" target="_blank" style="text-decoration: none;"><i class="fa fa-facebook fa-3x" style="margin-right: 10px;"></i> <h3 style="display:inline" >Facebook </h3></a>

                        <a href="https://instagram.com/ibox.kg/" target="_blank" style="text-decoration: none;"><i class="fa fa-instagram fa-3x" style="margin-right: 10px; margin-left: 20px;"></i><h3 style="display:inline">Instagram</h3></a>

					</div><!-- /.items -->
			</div>


			<div class="col-lg-6 col-md-6 col-sm-6">

            </div>

		</div><!-- /.row -->
	</div><!-- /.container -->

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 clearfix">

					<div class="copyright">
						&copy; iBox 2015<span class="separator">/</span>  Все права защищены <span class="separator" style="margin-right: 10px;">/</span>

                    </div><!-- copyright -->

					<ul class="nav nav-pills">
						<li><a href="#"><i class="fa fa-arrow-up"></i>Вверх<i class="fa fa-arrow-up"></i></a></li>
					</ul><!-- /.nav -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.footer-bottom -->
</footer><!-- /#footer -->