{%load staticfiles%}
<div class="topbar gray">
	<div class="container">
		<div class="row">
            <div class="col-md-6 col-xs-12 header-top-left">
                <div>
                    <div class="news">
                        <div class="inner">
                                <ul class="news-list">
                                    {% for slogan in slogans %}
                                        <li>{{slogan.text}}</li>
                                    {% empty %}
                                        <li>iBox.KG - Место где можешь купить/продать смартфоны, ноутбуки и планшеты в Бишкеке.</li>
                                        <li>iBox.KG - Покупай и продавай вместе с нами!</li>
                                        <li>iBox.KG - Лучшее место для покупки и продажи смартфонов и ноутбуков в Кыргызстане!</li>
                                    {% endfor %}
                                </ul><!-- /.news-list -->
                        </div><!-- /.inner -->
                    </div><!-- /.news -->
                </div>
            </div>

            <div class="col-md-6 col-xs-12 header-top-right">
                <div> 
                    <div class = "social">
                        <div class="inner">
                            <span data-toggle="modal" data-target="#add_instance_pop"><span style="cursor:pointer" >
                            <img class="blur" src="{% static 'images/newmess123.png' %}"  /></span></span>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-5 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.topbar -->


<!-- /#add instance popup page-->
    <div class="modal fade" id="add_instance_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Новое объявление</h4>
            </div>
            <div class="modal-body text-center">
                <ul class="list-unstyled list-inline">
                    <a href="{% url 'main:add_instance_phones'%}">
                        <li>
                            <span class="fa-stack fa-lg"><i class="fa fa-mobile fa-stack-2x "></i></span><span style="color:black;">Добавить Телефоны</span>
                        </li>
                    </a>
                    <hr>
                    <a href="{% url 'main:add_instance_notebooks'%}">
                        <li>
                            <span class="fa-stack fa-lg"><i class="fa fa-laptop fa-stack-2x "></i></span><span style="color:black">Добавить Ноутбуки</span>
                        </li>
                    </a>
                    <hr>
                    <a href="{% url 'main:add_instance_tablets'%}">
                        <li>
                            <span class="fa-stack fa-lg"><i class="fa fa-tablet fa-stack-2x "></i></span><span style="color:black">Добавить Планшеты</span>
                        </li>
                    </a>
                    <hr>
                    <a href="{% url 'main:add_instance_accessories'%}">
                        <li>
                            <span class="fa-stack fa-lg"><i class="fa fa-plus-square-o fa-stack-2x "></i></span><span style="color:black">Добавить Аксессуары</span>
                        </li>
                    </a>
                    <hr>
                </ul>
            </div>
        </div>
      </div>
    </div>